# For data validation and structure
pydantic

# For file parsing
python-docx
PyPDF2
PyMuPDF

# For LLM interaction
google-generativeai
python-dotenv
langchain
langchain-google-genai
langgraph

# For type safety
typing_extensions

#api
fastapi
uvicorn[standard]
python-multipart


# Web Search
ddgs

#resume creation 
weasyprint
jinja2

#in memory DB
redis
